body {
    counter-reset: letternum;
}

.hidden { display: none; }

#mass-edit { 
    float: right;
}

textarea { clear: both; width: 300px; height: 300px;}
div#input-letters { 
    float: right;
    margin-top: 100px;
}
input#discover-input { 
    font-size: x-large;
}
td.selected { background: orange !important; }

table,
tr,
td {
    border: 1px solid black;
    padding: 0px;
}

td {
    width: 32px;
    height: 32px;
    position: relative;
    vertical-align: middle;
    text-align: center;
}

td.initial-cell { background: #eee; }

td.blank-cell {
    background: black;
}

td.letter-cell:after {
    counter-increment: letternum;
    content: counter(letternum);
    position: absolute;
    left: 0;
    top: 0;
    font-size: xx-small;
}

td.temporary-letter {

    font-size: xx-small;
    vertical-align: top;
    text-align: left;
}